<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>this finna work</title>
</head>
<body>
    <h1>Add to a queue</h1>
    <ul id="item-list"></ul>
    <input id="new-item" placeholder="Put your ID in here pls">
    <button onclick="addToQueue">Start session</button>


    <script>
        const API_URL = "/api/queue"
        async function loadQueueItems() {
            const response = await fetch(API_URL)
            const items = await response.json();

            const list = document.getElementById("item-list");
            list.innerHTML = ""
            items.forEach(item => {
                const li = document.createElement("li");
                li.textContent = item.name;
                list.appendChild(li);
            });
        }

        //post a new task into the queue hopefully

        async function addToQueue(){
            const inputElement = document.getElementById("new-item");
            const name= inputElement.value.trim()
            if (!name) {
                alert("Please enter an item name.");
                return;
            }

            try{
                const response =await fetch(API_URL, {
                    method : "POST",
                    headers : "application/json",
                    body : JSON.stringify({ name : name})

                });
                if (!response.ok) {
                    throw new Error(`Server responded with code: ${response.status}`);
                }


            inputElement.value = "";
            loadQueueItems();
            } catch(err)
            {
                console.error("failed to add item to queue", error);
            }
        }
    </script>
</body>
</html>
